* {
    box-sizing: border-box;
}

:root {
    --type-color-normal: rgba(255, 255, 255, 1);
    --type-color-water: rgba(0, 0, 0, 1);
    --type-color-fire: rgba(0, 0, 0, 1);
    --type-color-grass: rgba(0, 0, 0, 1);
    --type-color-default: rgba(0, 0, 0, 1);
    --type-background-water: rgba(0, 150, 200, 0.5);
    --type-background-normal: rgba(170, 80, 30, 0.5);
    --type-background-fire: rgba(255, 0, 0, 0.5);
    --type-background-grass: rgba(25, 220, 25, 0.5);
    --type-background-default: rgba(250, 100, 100, 0.5);
    --grid-border-color: rgba(255, 255, 255, 0.5);
}

body {
    background-color: black;
    color: white;
    font-family: 'Quicksand', sans-serif;

    display: flex;
    justify-content: center;

}

.border {
    border: white 3px solid;
}

.highlight{
    border: white 3px solid;
    background: rgba(255, 255, 255, 0.2)
}

/* button list + title */
.pokemon-list-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    width: 80vw;
    border: white 3px solid;
}

.pokemon-list-wrapper div h1{
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

/* Contains all buttons */
.selectable-pokemon-list{
    display: flex;
    flex-flow: row wrap;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
}

/* Individual pokemon = button + label */
.pokemon-button {
    border: var(--grid-border-color) 2px solid;

    display: flex;
    flex-direction: column;
}

.pokemon-image {
    width: 100px;
    height: 100px;
}

/* pokemon label */
.pokemon-label{
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
    border: var(--grid-border-color) 2px solid;
}

.default-type {
    background-color: var(--type-background-default);
    color: var(--type-color-default);
}

.water {
    background-color: var(--type-background-water);
    color: var(--type-color-water);
}

.normal {
    background-color: var(--type-background-normal);
    color: var(--type-color-normal);
}

.grass {
    background-color: var(--type-background-grass);
    color: var(--type-color-grass);
}

.fire {
    background-color: var(--type-background-fire);
    color: var(--type-color-fire);
}
