* {
    box-sizing: border-box;
}

:root {
    --type-color-water: black;
    --type-color-normal: black;
    --type-color-fire: black;
    --type-color-grass: black;
    --type-color-default: black;
    --type-color-electric: black;
    --type-color-ice: black;
    --type-color-fighting: black;
    --type-color-poison: black;
    --type-color-ground: black;
    --type-color-flying: black;
    --type-color-psychic: black;
    --type-color-bug: black;
    --type-color-rock: black;
    --type-color-ghost: black;
    --type-color-dragon: black;
    --type-color-dark: black;
    --type-color-steel: black;
    --type-color-fairy: black;
    --type-background-water: rgba(99, 144, 240, 0.5);
    --type-background-normal: rgba(168, 167, 122, 0.5);
    --type-background-fire: rgba(238, 129, 48, 0.7);
    --type-background-grass: rgba(122, 199, 76, 0.5);
    --type-background-default: rgba(29, 26, 26, 0.5);
    --type-background-electric: rgba(252, 201, 0, 0.5);
    --type-background-ice: rgba(150, 217, 214, 0.5);
    --type-background-fighting: rgba(194, 46, 40, 0.5);
    --type-background-poison: rgba(163, 62, 161, 0.5);
    --type-background-ground: rgba(226, 191, 101, 0.5);
    --type-background-flying: rgba(169, 143, 243, 0.5);
    --type-background-psychic: rgba(249, 85, 135, 0.5);
    --type-background-bug: rgba(166, 185, 26, 0.5);
    --type-background-rock: rgba(182, 161, 54, 0.5);
    --type-background-ghost: rgba(115, 87, 151, 0.5);
    --type-background-dragon: rgba(111, 53, 252, 0.5);
    --type-background-dark: rgba(112, 87, 70, 0.5);
    --type-background-steel: rgba(183, 183, 206, 0.5);
    --type-background-fairy: rgba(183, 183, 206, 0.5);
    --type-main-color-alpha: rgba(255, 0, 0, 0.5);
    --type-main-color: rgb(255, 150, 0);
    --grid-border-color: rgba(255, 0, 0, 1);
    --darken-background: rgba(0, 0, 0, 0.5);
    --lighten-background: rgba(255, 255, 255, 0.6);
    --lighten-background-heavy: rgba(255, 255, 255, 0.7);
}

body {
    background: url("../images/poke_background.png") center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    padding-top: 160px;
    font-family: "Quicksand", sans-serif;
    display: flex;
    justify-content: center;
}

/* NAV BAR */
.nav-link {
    font-size: 1.5rem !important;
}

/* MODALS */

#loading-screen {
    display: none;
}

#loading-screen.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;

    /* Show on top */
    z-index: 999;

    /* center modal */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    background-color: var(--lighten-background);
    overflow: hidden;
}

#loading-screen img {
    max-height: 100px;
    max-width: 100px;
    animation: rotatePokeBall 2s linear infinite;
}

@keyframes rotatePokeBall {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*  BUTTONS */

/* button list + title */
.pokemon-list-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    margin-top: 10px;
    width: 80vw;
    min-height: 100vh;
}

.pokemon-list-wrapper div h1 {
    margin: 5;
    padding: 0;
}

/* Contains all buttons */
.selectable-pokemon-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

/* Individual pokemon = button + label */
.pokemon-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    border: var(--grid-border-color) 3px double;
    background-color: var(--lighten-background-heavy);
}

.pokemon-button:hover {
    border: black 3px double;
}

.pokemon-image {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
}

.pokemon-button:active img {
    width: 70px;
    height: 70px;
}

/* Makes all buttons smaller on smaller screens */
@media (min-width: 768px) {
    .pokemon-button {
        width: 100px;
    }

    .pokemon-image {
        width: 100px;
        height: 100px;
    }

    .pokemon-button:active img {
        width: 80px;
        height: 80px;
    }
}

/* pokemon label */
.pokemon-label {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    user-select: none;
    margin: 0;
    padding: 0;
}

/* Colors for type */
.default-type {
    background-color: var(--type-background-default);
    color: var(--type-color-default);
}

.water {
    background-color: var(--type-background-water);
    color: var(--type-color-water);
}

.normal {
    background-color: var(--type-background-normal);
    color: var(--type-color-normal);
}

.grass {
    background-color: var(--type-background-grass);
    color: var(--type-color-grass);
}

.fire {
    background-color: var(--type-background-fire);
    color: var(--type-color-fire);
}

.electric {
    background-color: var(--type-background-electric);
    color: var(--type-color-electric);
}

.ice {
    background-color: var(--type-background-ice);
    color: var(--type-color-ice);
}

.fighting {
    background-color: var(--type-background-fighting);
    color: var(--type-color-fighting);
}

.poison {
    background-color: var(--type-background-poison);
    color: var(--type-color-poison);
}

.ground {
    background-color: var(--type-background-ground);
    color: var(--type-color-ground);
}

.flying {
    background-color: var(--type-background-flying);
    color: var(--type-color-flying);
}

.psychic {
    background-color: var(--type-background-psychic);
    color: var(--type-color-psychic);
}

.bug {
    background-color: var(--type-background-bug);
    color: var(--type-color-bug);
}

.rock {
    background-color: var(--type-background-rock);
    color: var(--type-color-rock);
}

.ghost {
    background-color: var(--type-background-ghost);
    color: var(--type-color-ghost);
}

.dragon {
    background-color: var(--type-background-dragon);
    color: var(--type-color-dragon);
}

.dark {
    background-color: var(--type-background-dark);
    color: var(--type-color-dark);
}

.steel {
    background-color: var(--type-background-steel);
    color: var(--type-color-steel);
}

.fairy {
    background-color: var(--type-background-fairy);
    color: var(--type-color-fairy);
}
